<div class="cp_area">
    <div class="cp_info">
        <div class="label" id="level_label">Current Level:</div>
        <div class="value" id="level">{{ dude.level }}</div>
        <div class="label" id="cp_label">Total CP Banked:</div>
        <div class="value" id="cp">{{ dude.cp }}</div>
        <div class="label" id="spent_cp_label">Total CP Spent:</div>
        <div class="value" id="spent_cp">{{ dude.spent_cp }}</div>
        <div class="button" id="levelup">Level Up</div>
        <a href="{{ url_for('reset') }}" class="button" id="reset">Reset</a>
    </div>
    <div class="cp_buttons">
        <a id="menuTriggerDesc" class="dropdown-toggle" data-toggle="dropdown">Descriptions</a>
        <a id="menuTriggerSpells" class="dropdown-toggle" data-toggle="dropdown">Spells</a>
        <a id="gameLink" class="dropdown-toggle" href="https://www.nexusclash.com/clash.php">Back to Game</a>
    </div>
</div>
<div class="stats_attack">
    <div class="acc_boost">
        <div class="acc_boost_label">Accuracy Boosts</div>
        <div class="melee_acc_label">Melee Acc:</div>
        <div class="melee_acc" id="melee_acc">{{ dude.melee_acc }}%</div>
        <div class="sword_acc_label">Sword Acc:</div>
        <div class="sword_acc" id="sword_acc">{{ dude.sword_acc }}%</div>
        <div class="hth_acc_label">Hand-to-Hand Acc:</div>
        <div class="hth_acc" id="hth_acc">{{ dude.hth_acc }}%</div>
        <div class="ehw_acc_label">Heavy Acc:</div>
        <div class="ehw_acc" id="ehw_acc">{{ dude.ehw_acc }}%</div>
        <div class="bow_acc_label">Bow Acc:</div>
        <div class="bow_acc" id="bow_acc">{{ dude.bow_acc }}%</div>
        <div class="firearm_acc_label">Firearm Acc:</div>
        <div class="firearm_acc" id="firearm_acc">{{ dude.firearm_acc }}%</div>
        <div class="thrown_acc_label">Thrown Acc:</div>
        <div class="thrown_acc" id="thrown_acc">{{ dude.thrown_acc }}%</div>
        <div class="spell_acclabel">Spell Acc:</div>
        <div class="spell_acc" id="spell_acc">{{ dude.spell_acc }}%</div>
    </div>
    <div class="atk_boost">
        <div class="atk_boost_label">Attacking Damage Boosts</div>
        <div class="melee_dam_label">Melee Dmg:</div>
        <div class="melee_dam" id="melee_dam">+{{ dude.melee_dam }}</div>
        <div class="sword_dam_label">Sword Dmg:</div>
        <div class="sword_dam" id="sword_dam">+{{ dude.sword_dam }}</div>
        <div class="hth_dam_label">Hand-to-Hand Dmg:</div>
        <div class="hth_dam" id="hth_dam">+{{ dude.hth_dam }}</div>
        <div class="death_type_label">Death Type Dmg:</div>
        <div class="death_type" id="death_type">+{{ dude.death_type }}</div>
        <div class="bow_dam_label">Bow Dmg:</div>
        <div class="bow_dam" id="bow_dam">+{{ dude.bow_dam }}</div>
        <div class="firearm_dam_label">Firearm Dmg:</div>
        <div class="firearm_dam" id="firearm_dam">+{{ dude.firearm_dam }}</div>
        <div class="thrown_dam_label">Thrown Dmg:</div>
        <div class="thrown_dam" id="thrown_dam">+{{ dude.thrown_dam }}</div>
        <div class="gen_spell_dam_label">Spell Dmg:</div>
        <div class="gen_spell_dam" id="gen_spell_dam">+{{ dude.gen_spell_dam }}</div>
        <div class="gem_spell_dam_label">Spellgem Dmg:</div>
        <div class="gem_spell_dam" id="gem_spell_dam">+{{ dude.gem_spell_dam }}</div>
    </div>
</div>
<div class="defense_area">
    <div class="base_stats">
        <div class="base_stats_label">Base Stats</div>
        <div class="hp_max_label">Max HP:</div>
        <div class="hp_max" id="hp_max">{{ dude.hp_max }}</div>
        <div class="mp_max_label">Max MP:</div>
        <div class="mp_max" id="mp_max">{{ dude.mp_max }}</div>
        <div class="ap_max_label">Max AP:</div>
        <div class="ap_max" id="ap_max">{{ dude.ap_max }}</div>
        <div class="weight_max_label">Inventory Max:</div>
        <div class="weight_max" id="weight_max">{{ dude.weight_max }}</div>
        <div class="search_label">Search (%):</div>
        <div class="search" id="search">{{ dude.search }}</div>
        <div class="hide_label">Hide (%):</div>
        <div class="hide" id="hide">{{ dude.hide }}</div>
    </div>
    <div class="soaks">
        <div class="soaks_label">Soaks and Resistences</div>
        <div class="impact_soak_label">Impact:</div>
        <div class="impact_soak" id="impact_soak">{{ dude.impact_soak }}</div>
        <div class="slash_soak_label">Slashing:</div>
        <div class="slash_soak" id="slash_soak">{{ dude.slash_soak }}</div>
        <div class="pierce_soak_label">Piercing:</div>
        <div class="pierce_soak" id="pierce_soak">{{ dude.pierce_soak }}</div>
        <div class="acid_soak_label">Acid:</div>
        <div class="acid_soak" id="acid_soak">{{ dude.acid_soak }}</div>
        <div class="cold_soak_label">Cold:</div>
        <div class="cold_soak" id="cold_soak">{{ dude.cold_soak }}</div>
        <div class="fire_soak_label">Fire:</div>
        <div class="fire_soak" id="fire_soak">{{ dude.fire_soak }}</div>
        <div class="elec_soak_label">Electric:</div>
        <div class="elec_soak" id="elec_soak">{{ dude.elec_soak }}</div>
        <div class="death_soak_label">Death:</div>
        <div class="death_soak" id="death_soak">{{ dude.death_soak }}</div>
        <div class="holy_soak_label">Holy:</div>
        <div class="holy_soak" id="holy_soak">{{ dude.holy_soak }}</div>
        <div class="unholy_soak_label">Unholy:</div>
        <div class="unholy_soak" id="unholy_soak">{{ dude.unholy_soak }}</div>
        <div class="arcane_soak_label">Aracane:</div>
        <div class="arcane_soak" id="arcane_soak">{{ dude.arcane_soak }}</div>
        <div class="dodge_label">Dodge (%):</div>
        <div class="dodge" id="dodge">{{ dude.dodge }}</div>
        <div class="evade_label">Evasion (%):</div>
        <div class="evade" id="evade">{{ dude.evade }}</div>
    </div>
</div>
