:root {
  --main-bg-color: #0D0221;
  --btn-bg-color: #541388;
  --alt-btn-color: #540D6E;
  --main-text-color: #2DE2E6;
  --heading-text: #F6019D;
  --alt-text-color: #F9C80E;
  --motral-text: #adadad;
  --good-text: deepskyblue;
  --transcend-text: goldenrod;
  --evil-text: #d20000;
  --alt-evil-text: #fd0000;
  --evil-bg: #9e0000;
  --good-bg: #0fa4d6;
}

/* BEGIN main layout */
body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.grid-container {
    display: grid;
    grid-template-columns: 1.6fr 0.4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "skillarea sidebar";
  }
.skillarea {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1.7fr;
  gap: 0px 0px;
  grid-template-areas:
    "topbar"
    "skills";
  grid-area: skillarea;
}
.topbar {
  display: grid;
  grid-template-columns: 0.6fr 1.6fr 0.6fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "tierselectarea statsarea badgearea";
  grid-area: topbar;
}
.tierselectarea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "t2_choice t3_choice";
  grid-area: tierselectarea;
}
.t2_choice { grid-area: t2_choice; }
.t3_choice { grid-area: t3_choice; }

.t2_choice, .t3_choice {
  display: flex;
  justify-content: center;
  padding-bottom: 12.5em;
}

.statsarea {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "cp_area stats_attack defense_area";
  grid-area: statsarea;
  column-gap: 1.0em;
}

.cp_area {
  grid-area: cp_area;
  grid-template-areas:
    "cp_info cp_buttons";
  padding: 0 0em 6em 0;
  column-gap: 0.5em;
}

.cp_info {
  grid-area: cp_info;
  display: grid;
  grid-row: 1 / 2;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 0 1em 0;
  column-gap: 0.5em;
}

.cp_buttons {
  grid-area: cp_buttons;
  grid-row: 2 / 2;
  display: block;
}

.stats_attack {
  grid-area: stats_attack;
  display: grid;
  grid-template-areas: 
    "acc_boost"
    "atk_boost";
  grid-template-rows: 0.45fr 0.55fr;
  grid-template-columns: 1fr;
  row-gap: 1.0em;
}

.acc_boost {
  grid-area: acc_boost;
  display: grid;
  grid-template-areas: 
    "acc_boost_label acc_boost_label acc_boost_label acc_boost_label"
    "melee_acc_label melee_acc sword_acc_label sword_acc"
    "hth_acc_label hth_acc ehw_acc_label heavy_acc"
    "bow_acc_label bow_acc firearm_acc_label firearm_acc"
    "thrown_acc_label thrown_acc spell_acc_label spell_acc";
  grid-template-columns: 0.4fr 0.1fr 0.4fr 0.1fr;
  grid-template-rows: repeat(5, 0.6fr);
  column-gap: 0.8em;
  font-size: small;
}

.acc_boost_label {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 5;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.atk_boost {
  grid-area: atk_boost;
  display: grid;
  grid-template-areas: 
    "atk_boost_label atk_boost_label atk_boost_label atk_boost_label"
    "melee_dam_label melee_dam sword_dam_label sword_dam"
    "hth_dam_label hth_dam death_type_label death_type"
    "bow_dam_label bow_dam firearm_dam_label firearm_dam"
    "thrown_dam_label thrown_dam gen_spell_dam_label gen_spell_dam"
    "gem_spell_dam_label gem_spell_dam . .";
  grid-template-columns: 0.4fr 0.1fr 0.4fr 0.1fr;
  grid-template-rows: repeat(6, 0.6fr);
  column-gap: 0.8em;
  font-size: small;
}

.atk_boost_label {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 5;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.defense_area {
  grid-area: defense_area;
  display: grid;
  grid-template-areas: 
    "base_stats"
    "soaks";
  grid-template-rows: 0.45fr 0.55fr;
  grid-template-columns: 1fr;
  row-gap: 1.0em;
 }

.base_stats {
  grid-area: base_stats;
  display: grid;
  grid-template-areas: 
    "base_stats_label base_stats_label base_stats_label base_stats_label"
    "max_hp_label max_hp max_mp_label max_mp"
    "map_ap_label max_ap weight_max_label weight_max"
    "search_label search hide_label hide";
  grid-template-columns: 0.4fr 0.1fr 0.4fr 0.1fr;
  grid-template-rows: repeat(2, 0.2fr);
  column-gap: 0.8em;
  font-size: small;
}

.base_stats_label {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 5;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.soaks {
  grid-area: soaks;
  display: grid;
  grid-template-areas: 
    "soaks_label soaks_label soaks_label soaks_label"
    "impact_soak_label impact_soak slash_soak_label slash_soak"
    "pierce_soak_label pierce_soak acid_soak_label acid_soak"
    "cold_soak_label cold_soak fire_soak_label fire_soak"
    "elec_soak_label elec_soak death_soak_label death_soak"
    "holy_soak_label holy_soak unholy_soak_label unholy_soak"
    "arcane_soak_label arcane_soak . ."
    "dodge_label dodge evade_label evade";
  grid-template-columns: 0.4fr 0.1fr 0.4fr 0.1fr;
  grid-template-rows: repeat(2, 0.6fr);
  column-gap: 0.8em;
  font-size: small;
}

.soaks_label {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 5;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.badgearea { grid-area: badgearea; }
.skills {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "skilltrees";
  grid-area: skills;
}
.descriptionarea {
  display: grid;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "spellarea";
  grid-area: descriptionarea;
}
.spellarea { grid-area: spellarea; }

.dropdown-toggle:hover {
  cursor:pointer;
  background-color: navajowhite;
  color:purple;
}

.dropdown-toggle {
  color: #ffad4c;
  border: 2px solid blueviolet;
  text-align: center;
  margin: auto;
}

#menuTriggerDesc, #menuTriggerSpells, #gameLink {
  padding: 5px;
}

.description {
  position:fixed;
  top:60px;
  right:0px;
  width:400px;
  height:320px;
  background:#3b0f8c;
  grid-area: description;
  border: 5px solid darkslateblue;
}

.spells {
  position:fixed;
  top:395px;
  right:-470px;
  width:400px;
  height:420px;
  background:#3b0f8c;
  grid-area: description;
  border: 5px solid darkslateblue;
}

.spellsAcid { display: none; }
.spellsCold { display: none; }
.spellsDeath { display: none; }
.spellsElectric { display: none; }
.spellsFire { display: none; }
.spellsGlyph { display: none; }
.spellsImpact { display: none; }
.spellsPiercing { display: none; }
.spellsSlashing { display: none; }
.spellsUtility { display: none; } 

.skilltrees {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "mortalskills t2skills t3skills";
  grid-area: skilltrees;
}
.mortalskills {
  grid-area: mortalskills;
  color: var(--motral-text);
}
.t2skills { grid-area: t2skills; }
.t3skills { grid-area: t3skills; }
.sidebar { grid-area: sidebar; }

/* END main layout */


/* BEGIN button menu */

/* Style The Dropdown Button */
.dropbtn {
  -webkit-transform:translate3d(0,0,0);
  background-color: var(--btn-bg-color);
  color: var(--heading-text);
  padding: 16px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  /*display: none;*/
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: var(--btn-bg-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transform: translateY(-2em);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #FFFFFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--alt-btn-color)
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  /*display: block;*/
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.dropdown:hover .fas {
  transform: rotate(180deg);
  transition: all 0.2s;
}

.fas {
  transition: all 0.2s;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--alt-btn-color);
  color: var(--alt-text-color);
}
/* END button menu */

/* Function buttons */
.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color:var(--heading-text);
  background-color: var(--btn-bg-color);
  text-align:center;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  color: var(--alt-text-color);
  background-color: var(--alt-btn-color);
  cursor: pointer;
}

@media all and (max-width:30em) {
  .button {
      display:block;
      margin:0.4em auto;
  }
}

.label, .value {
  font-weight: bold;
  padding: 2px;
}

.label {
  text-align: right;
}

.infoLinks {
  color: chartreuse;
}

.Ex-Defiler, .Ex-Pariah, .Paladin, .Shepherd, .Redeemed, .Holy-Champion, .Seraph, .Exalted-Harbinger, .Advocate, .Archon, .Lightspeaker {
  color: var(--good-text);
}

.Myrmidon, .Sorcerer, .Revenant, .Eternal-Soldier, .Nexus-Champion, .Wizard, .Lich, .Conduit, .Elementalist {
  color: var(--transcend-text);
}

.Ex-Shepherd, .Ex-Paladin, .Pariah, .Defiler, .Infernal-Behemoth, .Doom-Howler, .Void-Walker, .Fallen, .Dark-Oppressor, .Wyrm-Master, .Corruptor {
  color: var(--evil-text);
}

#Ex-Defiler, #Ex-Pariah, #Paladin, #Shepherd, #Redeemed, #Holy-Champion, #Seraph, #Exalted-Harbinger, #Advocate, #Archon, #Lightspeaker {
  background-color: var(--good-text);
}

#Myrmidon, #Sorcerer, #Revenant, #Eternal-Soldier, #Nexus-Champion, #Wizard, #Lich, #Conduit, #Elementalist {
  background-color: var(--transcend-text);
}

#Ex-Shepherd, #Ex-Paladin, #Pariah, #Defiler, #Infernal-Behemoth, #Doom-Howler, #Void-Walker, #Fallen, #Dark-Oppressor, #Wyrm-Master, #Corruptor {
  background-color: var(--evil-text);
}

button.Ex-Shepherd, button.Ex-Paladin, button.Pariah, button.Defiler, button.Infernal-Behemoth, button.Doom-Howler, button.Void-Walker, button.Fallen, button.Dark-Oppressor, button.Wyrm-Master, button.Corruptor {
  color: var(--alt-evil-text);
}

.buildplan {
  width: 100%;
}

.sidebar {
  text-align: center;
}